body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.navbar {
    background-color: #000000;
    
}

.navbar h2 {
    color:#1155d3;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-left: 70px;
    
}
.navbar-nav .nav-link:hover {
    color: #ffae00 !important;
    
}

.hero-section {
    background-image: url('/path/to/hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-btn {
    margin: 10px;
}

.btn-aqua {
    background-color: #010202;
    color: #fff;
}

.btn-aqua:hover {
    background-color: #000000;
}

.card {
    margin: 20px 0;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.hero-section {
    /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-image: url('https://images.hdqwalls.com/download/black-mercedes-benz-amg-gt-4k-2020-m1-2880x1800.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
    height:800px;
}

.hero-content {
    margin-top:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00000089;

    /* Add more styles as needed */
}
